* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

#image-area {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 200px auto 200px;
}

#center {
  display: grid;
  justify-items: center;
}

img {
  height: 400px;
}

#current-image {
  z-index: 1;
}

#prev-image {
  position: absolute;
  /* top: 0px;
  opacity: 0; */
}
#next-image {
  position: absolute;
  /* top: 0px;
  opacity: 0; */
}

#nav-dot-container {
  margin-top: 10px;
}

#buttons-container {
  margin-top: 20px;
  display: flex;
  justify-items: center;
}

button {
  padding: 5px 10px 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

button:hover {
  border: 1px solid black;
  border-radius: 5px;
}
